@media(min-width: 768px) {
    .text{
        text-align: center;
        background: bisque;
        color: black;
        padding: 30px;
        width: 70%;
        height: 100px;
        overflow: auto;
        border: 1px solid #ccc;
        margin-left: 3pc;
    }
    }
    @media (max-width: 768px){
        .text{
            text-align: center;
            background: bisque;
            color: black;
            padding: 30px;
            width: 70%;
            height: 100px;
            overflow: auto;
            margin-left: 2pc;
            border: 1px solid #ccc;
        } 
    }